@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding: 10px;
  margin-bottom: 20px;
  /* background-color: yellow; */
  color: #fff;
  border-radius: 10px;
  /* background-color: green; */
}

.list-item > button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}